<?xml version="1.0" ?>
<launch>
  <arg name="port" default= "/dev/ttyUSB0" />
  <arg name="baudrate" default= "115200" />
  <node name="inspire_hand_server" pkg="inspire_hand" type="inspire_hand_server" output="screen" >
    <param name = "port" value="$(arg port)" />
    <param name = "baudrate" value="$(arg baudrate)" />
  </node>
</launch>